/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    /* #101214 */
    --background: #0d1117;
    --accent: #fff;
    --hover: #fff;
    --ptag: #8b849e;
    --icons: #fff;
}

[theme="light"] {
    --background: #dee4e7;
    --accent: #000;
    --hover: #000;
    --ptag: #34393f;
    --icons: #000;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: #7A7C80;
}

h2,.white{
    color: var(--accent);
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 40vh;
    padding-left: 20vw;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: var(--ptag);
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--icons);
}

/* section 2 */
.section-2{
    padding-top: 20vh;
    width: 70%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
    color: var(--ptag);
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: var(--hover);
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: var(--hover);
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}

.round-button {
    display:flex;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #777555;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    outline:none;
    position:fixed;
    bottom:25px;
    right:25px;
    justify-content:center;
    align-items:center;
}

.round-button:hover {
    transform: scale(1.1) perspective(1px)
}

.holds-the-iframe {
  background:url(../images/loading.gif) center center no-repeat;
}

#chb_theme {display: none;}

.btn_theme {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: rotate(-25deg);
    z-index: 1;
}

#chb_theme + label::before,
#chb_theme + label:hover::before,
#chb_theme:checked + label::before,
#chb_theme:checked + label:hover::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 20px;
    content: "\f186";
    cursor: pointer;
    transition: .2s;
}

#chb_theme + label::before {color: #FFD740;}

#chb_theme + label:hover::before {color: #bfa132;}

#chb_theme:checked + label::before {color: #BDBDBD;}

#chb_theme:checked + label:hover::before {color: #9E9E9E;}
